<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tomato.curry">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="24" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".TomataApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CityOverview"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SaloonList"
            android:screenOrientation="portrait" />
        <activity android:name=".SaloonSelection" />
        <activity android:name=".SaloonOverview" />
        <activity android:name=".DateSelection" />
        <activity android:name=".TimeSelection" />
        <activity android:name=".SaloonServiceSelection" />
        <activity android:name=".ServiceSummary" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="onesignal_app_id"
            android:value="${onesignal_app_id}" />
        <meta-data
            android:name="onesignal_google_project_number"
            android:value="str:${onesignal_google_project_number}" />

        <!--<receiver-->
        <!--android:name="com.onesignal.GcmBroadcastReceiver"-->
        <!--android:permission="com.google.android.c2dm.permission.SEND">-->
        <!--<intent-filter>-->
        <!--<action android:name="com.google.android.c2dm.intent.RECEIVE" />-->
        <!--<category android:name="peaking.pushnotification" />-->
        <!--</intent-filter>-->
        <!--</receiver>-->
        <receiver android:name="com.onesignal.NotificationOpenedReceiver" />

        <service android:name="com.onesignal.GcmIntentService" />
        <service
            android:name="com.onesignal.SyncService"
            android:stopWithTask="false" />

        <activity
            android:name="com.onesignal.PermissionsActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service android:name="com.onesignal.NotificationRestoreService" />

        <receiver android:name="com.onesignal.BootUpReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.onesignal.UpgradeReceiver">
            <intent-filter>
                <action android:name="android.intent.action.peaking.pushnotification" />
            </intent-filter>
        </receiver>
    </application>

</manifest>